## Standard Data Types

### Integer: int

In [79]:
n = 105
level = -3

### Floating point: float

In [80]:
pi = 3.1415
e = -1.602e-19

### Complex: complex 
j = sqrt(-1)

In [81]:
z = -1 + 3.2j
i = (-1)**(0.5)

### String: str
Enclosed by a pair of single ('string') or double ("string") quotation marks

In [82]:
university = "NUS"
s = "HI I am a STRINGGG"

### Boolean: bool

In [83]:
expired = True
is_completed = False

### List: list
* Ordered - Access individual items using indices (0-based)
* Mixed data type allowed
* Use sqaure bracket []

In [84]:
year = [2020, 2021, 2022]
mixed = ["hi", 'a', 32e-200, 90j, 2, True, ("hello again", 2 + 33j)]

### Tuple: tuple
* Like a list but the content is unchangable
* Use paratheses ()

In [85]:
primary_colours = ("red", "green", "blue")
personal_information = ("Jin Han", 18, 39866, True, True, False, "AAAAAABB")

### Dictionary: dict
* Hold key-value pairs
* Unordered - Access values using keys
* Use angular bracket {key:value}

In [86]:
university = {"name":"National University of Singapore", "abbrevation":"NUS", "QSranking":8, "course":"computer science"}
count = {1:3, 2:4, 4:90, 5:6}

### Set
* No duplicate values
* Unordered
* Use angular bracket {}
* Can use List(something) == Set(something) to check if something has duplicate values

In [87]:
fruits = {"apple", "banana", "cherry"}

## Variables

### Integer

In [88]:
a = 123

### String

In [89]:
b = "hi"

### Float

In [90]:
c = a + 0.5

### Boolean

In [91]:
d = a == c

### List

In [92]:
e = [a, b, 'I am a String']

### Tuple

In [93]:
(a, b, c, d, e)

(123, 'hi', 123.5, False, [123, 'hi', 'I am a String'])

## Classes and Object

Object - A collection of attributes and functions that act on attributes<br />
Class - A template for an object
<hr />

* An object is an instance of a class
* Attributes and functions of an object are defined in its class

### Creating a class

In [94]:
class SalesEmployee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        self.sales = 0.0
    
    # Other functions (member functions)
    def change_employee_name(self, new_name):
        self.name = new_name

    def raise_salary_percentage(self, percentage):
        self.salary += self.salary * (percentage/100)

### Creating objects of the class

In [95]:
amy = SalesEmployee('Amy Alton', 3200.00)
ben = SalesEmployee('Ben Brown', 2950.00)

### Using other functions

In [96]:
amy.change_employee_name("nick")
ben.raise_salary_percentage(30)

### Access object's attributes

In [97]:
print(f"Amy's new name is {amy.name}")
print(f"Ben's salary is {ben.salary}")

Amy's new name is nick
Ben's salary is 3835.0

## Basic Operations - int, float, complex

### Arithmetic 
* Basic arithmetic: +, -, *, /
* Floor division: //
* Exponent: **

In [98]:
print(1-5, 2/5, 1.2e3*-3, (3+4j)+2)

-4 0.4 -3600.0 (5+4j)

### Comparison 
* Equal, not equal: ==, != (Avoid on floats)
* Greater than: >
* Greater than or equal: >=
* Lesser than <
* Lesser than or equal <=

In [99]:
print(5-2 == 1+2, -3.5 > 2, 1+(4/3)**2 == (5/3)**2, 9/4 <= 2)

True False False False

## Basic Operations - bool

### Logical
* not
* or
* and

Arithmetic / comparison on bool
* True is equivalent to int(1)
* False is equivalent to int(0)

In [100]:
print(not True, not 2 != 2, True or False, True and False)

False True True False

## Basic Operations - str

### Concatenate: +

In [101]:
str1, str2 = "Hello", "World!"
print(str1 + " " + str2)

Hello World!

### Count a substring occurence: count

In [102]:
s = "Hello World! Hello to Python programming."
print(s.count("Hello"))
print(s.count('o'))

2
6

### Get length: len

In [103]:
s = "Hello World! Here we go again!"
len(s)

30

### Locate a substring: index

In [104]:
s = "cheddar"
print(s.index('d'))
print(s.index("dd"))
print(s.index("da"))

3
3
4

### Slice: [start:end:skip]
* From start up to but NOT including end picking item every skip
* Negative index - Alternative index that runs backward from the last characterer
* Negative slice - Slice in reverse direction

In [105]:
s = "cheddar"
print(s[2])
print(s[2:4])
print(s[1:6:2])
print(s[-1:1:-2])

e
ed
hda
rde

Shorthand notations

In [106]:
s = "1234567890"

# Reverse all characters
print(s[::-1])

# Last 3 characters
print(s[-3:])

# All except last 2 characters
print(s[:-2])

# First four characters, reversed
print(s[3::-1])

# Last four characters, reversed
print(s[:-5:-1])

0987654321
890
12345678
4321
0987

### Cast to upper/lowercase: upper/lower

In [107]:
s = "Hello World!"
print(s.upper())
print(s.lower())

HELLO WORLD!
hello world!

### Replace a substring: replace

In [108]:
s = "Their coming to twon tonight."
corrected_s = s.replace("Their", "They are").replace("twon", "town")
print(s)
print(corrected_s)

Their coming to twon tonight.
They are coming to town tonight.

### Break str at operator: split
* Default seperator - whitespace
* Useful for importing, e.g. CSV (comma-seperated values) files

In [109]:
s = "Today, I don't, feel like, doing anything."
print(s.split())
print(s.split(','))
print(s.split('feel'))

['Today,', 'I', "don't,", 'feel', 'like,', 'doing', 'anything.']
['Today', " I don't", ' feel like', ' doing anything.']
["Today, I don't, ", ' like, doing anything.']

## Basic Operations - list
* Ordered collection of data
* Use indices to access, reassign or delete items

In [110]:
scores = [2, 3.4, 5, 6, 9, 2, -4]
print(scores[3])

print(f"Before reassignement: {scores[4]}")
scores[2] = 9.9
print(f"After reassignement: {scores[4]}")

del scores[-3] # delete the last second score in the list
print(scores)

6
Before reassignement: 9
After reassignement: 9
[2, 3.4, 9.9, 6, 2, -4]

### List operations similar to string operations

In [111]:
scores.count(2)

2

In [112]:
rainfall = [0, 3.2, 15.6, 0.2, 0.2, 0, 43.8]
print(rainfall[2:5]) # from third to fifth items (does not manipulate original list)

rainfall[::-1] # all items, reversed (does not manipulate original list)

rainfall [:-2] # all except last two items (does not manipulate original list)

rainfall[-2:] = [0.4, 6.2] # reassign last two items (manipulate original list)

del rainfall[-3:] # delete last three items (manipulate original list)

[15.6, 0.2, 0.2]

### Add items: append, insert
* append: add to the back of the list
* insert: add at certain position of the list

In [113]:
rainfall = [0, 3.2, 0.2, 0.2, 0]
rainfall.append(43.8)
print(rainfall)

rainfall.insert(2, 15.6)
print(rainfall)

[0, 3.2, 0.2, 0.2, 0, 43.8]
[0, 3.2, 15.6, 0.2, 0.2, 0, 43.8]

### Remove items: remove, pop
* remove: remove the first occurence of _ in the list
* pop: removes index i, and returns it

In [114]:
rainfall = [0, 3.2, 15.6, 0.2, 0.2, 0, 43.8]
rainfall.remove(0.2) # remove first occurrence of 0.2
print(rainfall)
rainfall.pop(4)
print(rainfall)

[0, 3.2, 15.6, 0.2, 0, 43.8]
[0, 3.2, 15.6, 0.2, 43.8]

### Sort item: sort
* Manipulates original list data
* Use reverse=True to sort in descending order

In [115]:
scores = [2, 3, 1, 3, 4.2, 5.9, 6]

scores.sort()
print(f"Default sorting: {scores}")

scores.sort(reverse=True)
print(f"Reverse=True sort: {scores}")

Default sorting: [1, 2, 3, 3, 4.2, 5.9, 6]
Reverse=True sort: [6, 5.9, 4.2, 3, 3, 2, 1]

### Nested List
* List within another list as its item
* Same slice and list operations apply
* Nested list is allowed with list, tuple, dict or set as its items

In [116]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8]]
print(matrix[2][1])
print(len(matrix))
print(len(matrix[1]))
print(len(matrix[2]))

print(matrix[:2])
print(matrix[1][-2:])

matrix[1].sort(reverse=True)
print(matrix)

8
3
3
2
[[1, 2, 3], [4, 5, 6]]
[5, 6]
[[1, 2, 3], [6, 5, 4], [7, 8]]

## Basic Operations - tuple
* Ordered collection of data similar to list

### Tuple CANNOT reassign items, but CAN append another tuple

In [117]:
# Trying to change the content of tuple (cities)
cities = ('Paris', 'Berlin', ('Rome', 'Vatican'))
cities[1] = 'Madrid'

### Nested tuple is allowed with list, tuple, dict or set as its items

In [118]:
cities = (1.4, 3e-2 + 2j, False, 'This is a String', {1:2, 2:4, "Banana": 2, "Apple": 30}, {"Subset1", "Subset2", "Subset3"}, ('Rome', 'Vatican'))

print(*(f"{item}: {type(item)}" for item in cities), sep='\n')

1.4: <class 'float'>
(0.03+2j): <class 'complex'>
False: <class 'bool'>
This is a String: <class 'str'>
{1: 2, 2: 4, 'Banana': 2, 'Apple': 30}: <class 'dict'>
{'Subset1', 'Subset2', 'Subset3'}: <class 'set'>
('Rome', 'Vatican'): <class 'tuple'>

### Tuple operations which are similar to String

In [119]:
fruits = ('Apple', 'Banana', 'Durian', 'Papaya', 'Mango')

# Adding a item into the tuple
fruits += ('Strawberry', )
print(fruits)

# Print item from index 1 to index 2
print(fruits[1:3])

print(fruits.count("Durian"))

print(fruits.index("Durian"))

('Apple', 'Banana', 'Durian', 'Papaya', 'Mango', 'Strawberry')
('Banana', 'Durian')
1
2

## Basic Operations – dict

### No index for item access – Use keys

In [120]:
price = {'Chicken Rice': 13, 'Fried Rice': 12, 'Ice Cream': 9}

# dict.keys() - Returns list of keys
print(price.keys())

# dict.values() - Returns list of values
print(price.values())

dict_keys(['Chicken Rice', 'Fried Rice', 'Ice Cream'])
dict_values([13, 12, 9])

## Basic Opeations - Set
* Nested set is allowed tuple as its items

### Unordered collection of unique items

In [121]:
# Second 'Bob' is not registered
name = {'Alice', 'Bob', 'Charlie', 'Bob', 'bob'}
print(name)

{'bob', 'Alice', 'Bob', 'Charlie'}

### Add/remove items: update/remove (manipulate set itself)

In [122]:
name = {'Alice', 'Bob', 'Charlie', 'bob'}
name.update({'Dave'}) # If ('Dave') then it means update ({'D'}, {'a'}, {'v'}, {'e'})
print(name)

name.remove('bob')
print(name)

{'bob', 'Alice', 'Charlie', 'Bob', 'Dave'}
{'Alice', 'Charlie', 'Bob', 'Dave'}

### Union, intersection, difference, symmetric difference: |, &, -, ^

In [123]:
group1 = {'person1', 'person2', 'person3'}
group2 = {'person3', 'person4', 'person5'}

# Union
print(group1 | group2)

# Intersection
print(group1 & group2)

# difference
print(group1 - group2, group2 - group1)

# Symmetric difference (Opposite of Intersection (Remove intersection))
print(group1 ^ group2)

{'person5', 'person4', 'person3', 'person1', 'person2'}
{'person3'}
{'person1', 'person2'} {'person5', 'person4'}
{'person5', 'person4', 'person1', 'person2'}

## Data Type Conversion

### Implicit - Data type is automatically determined after an operation

In [124]:
a = 3 # Integer
b = 3 + 2j # Complex
c = a + b
print(f'{c} is {type(c)}')

(6+2j) is <class 'complex'>

Explicit - Data type is converted manualy
* AKA Type casting

In [125]:
str1 = "Hello."
str2 = "Nice to meet you. "
age = 40
print(f"{str1} {str2} I am {age} years old!")
# or this 
print(str1 + str2 + "I am " + str(age) + " years old!") # Remember to not declare your string as str as it is a function

Hello. Nice to meet you.  I am 40 years old!
Hello.Nice to meet you. I am 40 years old!

## Identity and Membership

### Identity Test
* ==, !=: Checks if the value is the same
* is, is not check if the variables point to the same object

In [126]:
a, b = [1, 2, 3], [1, 2, 3]
print(a == b, a is b, a is not b)

c = a
print (a == c, a is c, a is not c)

True False True
True True False

### Membership Test
* Check if an object is present in a str or a Data Structure (list, tuple, dict, set)
* For dict, only the keys are checked, NOT the values

In [127]:
print(3 in [1, 2, 3, 4], 0 not in [1, 2, 3, 4])

s = "Hello World!"
print('He' in s, 'Python' in s)

dict = {'a':3, 'b':4, 'd':7}
print('a' in dict, 'c' in dict, 3 in dict)

True True
True False
True False False

## Control Flow

### if, elif, else

In [128]:
age = int(input("Please enter your age?"))

if age < 0:
    print("Wrong age entered.")
elif age < 18:
    print("Prepare for university!")
elif (age < 24):
    print("Grind for university!")
else:
    print("Congrats!")

Congrats!

### While

In [129]:
i = 0
while (True):
    if (i > 3):
        break
    print(f"Python is fun {i}")
    i += 1

Python is fun 0
Python is fun 1
Python is fun 2
Python is fun 3

In [130]:
i = 0
while (i < 4):
    print(f"Python is fun {i}")
    i += 1

Python is fun 0
Python is fun 1
Python is fun 2
Python is fun 3

### For loop and iterable

In [131]:
i = 0
for i in range(9):
    print(f"Current i is {i}")

Current i is 0
Current i is 1
Current i is 2
Current i is 3
Current i is 4
Current i is 5
Current i is 6
Current i is 7
Current i is 8

In [132]:
fruits = ["apple", "banana", "papaya", "durian"]

for fruit in fruits:
    print(f"We have {fruit}")

We have apple
We have banana
We have papaya
We have durian

## Files Operations

### Opening and Closing files

In [133]:
# Open a file for reading (default mode)
file = open("example.txt", "r")
# Perform file operations (e.g., read data)
content = file.read()
print(content)
# Close the file after operations are done
file.close()

# Open a file for writing (this will create the file if it doesn't exist)
file = open("example.txt", "w")
# Write data to the file
file.write("Hello, world!")
# Close the file after writing
file.close()

# Open a file and automatically close it after the block
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

# Writing to a file with the 'with' statement
with open("example.txt", "w") as file:
    file.write("Hello, world!")

### Reading Text Files
* file.readline() - Read a line up to and including the newline character (‘\n’), repeat until EOF (end of file) is reached
* file.seek(0) - Move the current position of pointer of the file object to the beginning
* file.readlines() - Read the entire file into list of str with each line as its item

## File I/O in Other Formats
* pickle — For serialising Python object directly in binary format<br />
• NOT for data that is to be used across different languages<br />
• Official documentation — https://docs.python.org/3/library/pickle.html<br /><br />
* HDF5 — For handling very large numerical data independent of language<br />
• Slice into multi-TB data, no need to hold the entire data in the memory<br />
• Use a third-party package to interface with Python, e.g. h5py— http://docs.h5py.org/<br /><br />
* JSON — Text-based language independent data-interchange format<br />
• Store standard Python objects directly in a human readable file<br />
• Official documentation — https://docs.python.org/3/library/ison.html<br />

## Exception Handling

### Handle any exception errors: try, except

In [134]:
a, b = 4, '5'
try:
    print(a+b)
except:
    print('Print(a+b) fails')

Print(a+b) fails

In [135]:
a, b = 4, '5'
try:
    print( a+b)
except TypeError:
    print(int(a)+int(b))

9

### Handle exception errors differently
* Execute specific except statements depending on the type of error encountered in try statements

In [136]:
try:
    int('string')
except TypeError:
    print('A TypeError occurred.')
except ValueError:
    print( 'A ValueError occurred. ' )
except:
    print( 'An error occurred' )

A ValueError occurred.

### Common ExceptionName
* KeyError - Key is not found in a dictionary
* IndexError - Index not found in the sequence
* IOError - I/O operation failed
* NameError - Identifier not found in the namespace
* TypeError - Operation invalid for Data Type
* ValueError - Invalid value for specified operation
* ZeroDivisionError - Division by zero for all numeric types

### try, except, else

In [137]:
string = '3'
try:
    number = int(string)
except:
    print('An error occurred.')
else:
    print('It was a success!')

It was a success!

### try, (except), (else), finally
* Always execute the indented finally statements regardless of whether an exception was encountered or not

In [138]:
try:
    number = int('3.0')
except :
    print('An error occurred.')
else:
    print('It was a success!')
finally:
    print('I hope you enjoyed my code.')

An error occurred.
I hope you enjoyed my code.

### Manually raise an exception: raise

In [139]:
x = -1
if x < 0:
    raise ValueError('x must be positive.')

ValueError: x must be positive.

### Putting it all together

In [140]:
numberstr = input('Enter a number between @ and 100: ')
try:
    number = float(numberstr)
    if number<0:
        raise RuntimeError
    elif number>100:
        raise RuntimeError
except RuntimeError:
    print('Your number is outside of the range.')
except ValueError:
    print('That is not a number.')
else:
    print(numberstr + ' is successfully registered.')

99 is successfully registered.